# Project exclude paths
# Standard Android ignores
.gradle/
build/
app/build/
captures/
*.iml
.externalNativeBuild
.cxx
local.properties
.DS_Store

# Android Studio / IntelliJ IDEA
.idea/
*.iws
*.out
*.app
